body {
	margin-bottom: 50px;
	background: url(../img/bg.jpg) center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


.header {
	padding-top: 50px;
}

.logo {
	width: 100%;
}

.header h2 {
	display: block;
	padding-top: 30px;
}

.social {
	max-height: 100px;
	max-width: 40%;
	
}

.h2 {
	text-transform: uppercase;
	border: 3px solid black;
	padding: 20px;
	margin: 0 100px;
}

.numeral p {
	height: 200px;
	width: 200px;
	line-height: 200px;
	border: 3px solid black;
	border-radius: 50%;
	margin: 0 auto;
	font-size: 7rem;
}

.numeral {
	margin-top: 50px;
}

.span {
	display: block;
	padding-top: 20px;
	font-weight: 800;
	font-size: 2rem;
}

.container {
	padding: 30px 0;
	background: rgba(255, 255, 255, 0.8);

}

.icons {
	max-width: 50%;
	padding-top: 50px;
}

.numeral2 p {
	font-size: 5rem;
}

.count {
	text-align: center;
}

.count img {
	width: 100%;
	opacity: 0.3;
}

.count img:hover {
	opacity: 1;
}

.numeral13 p {
	font-size: 4rem;
}

.footer h1 {
	text-transform: uppercase;
	border-top: 1px solid red;
	padding-top: 3rem;
	font-size: 6rem;
}

.footer button {
	width: 50%;
	height: 5rem;
	text-transform: uppercase;
	font-size: 2rem;
}